/* general */
*{

}

body{

}

header {

}
section{

}
footer {

}
/* ids */
#about-me {

}
#contact {

}
#portfolio {

}
/* classes */

/* clearfix */
.clearfix::after {

content: “”;
display: block;
clear: both;
}
